.home {
    width: 100vw;
    height: 100vh;
    overflow-Y: hidden;
}
html, body, .home:before
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.home, form
{
    margin: 0;
    padding: 0;
    display: flex;
    width: 50%;
    height: 100vh;
    margin: auto;
}

.home:before
{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    content: " ";
    background-image: url('../../img/backgr.png');
    background-size: cover;
}

.home>form
{
    transform: translateX(100px) scale(2);
    transform-origin: center center;
    align-items: center;
}

.material-symbols-outlined
{
    transform: translateY(5px);
}

.loading
{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 10px solid #b55c08;
    border-top: 10px solid #153952;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.error {
    background-color: #b2c1cb;
    color: #b55c08;
    font-size: 50px;
}